.chat{
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }

.chatBox{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
}

/*
textarea{
    width: 100%;
    height: 80%;
    box-sizing: border-box;   
}
*/

body{
    background-image: url("../images/rock-paper-scissors-pattern-background.jpg");
    height: 100%;
}


.displayBox{
    background-color: white;
    box-sizing: border-box;
    border: solid black 3px;
    padding: 7px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.container-fluid{
    width: 100%;
    height: 100%;
}

.btn{
    width: 30%;
    box-sizing: border-box;
    margin-left: 3px;
    margin-right: 3px;
}


