.chat{
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }

.chatBox{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
}

/*
textarea{
    width: 100%;
    height: 80%;
    box-sizing: border-box;   
}
*/

body{
    background-image: url("../images/rock-paper-scissors-pattern-background.jpg");
    min-height: 800px;
}


.displayBox{
    background-color: white;
    box-sizing: border-box;
    border: solid black 3px;
    padding: 7px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.container-fluid{
    width: 100%;
    min-height: 800px;
}

.btn{
    width: 31.5%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 3px;
    margin-right: 3px;
}

.player1{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.subRow{
    height: 50%;
    margin-bottom: 20px;
}

.outerRow{
    min-height: 600px;
}

.col-6{
    min-height: 70%;
}

hr{
    border: none;
    height: 1.5px;
    color: black;
    background-color: black;
}

